@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .letter-sp {
    letter-spacing: 2px;
  }
  .footer-bg-mb {
    background-image: url("/bg-pattern-footer-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100% 20vh;
  }



  .footer-bg-dk {
    background-image: url("/bg-pattern-footer-desktop.svg");
    background-repeat: no-repeat;
    background-size: 30% auto;
  }
}
